.clock-container {
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 17px;
  -webkit-font-smoothing: antialiased;
  -webkit-font-feature-settings: "tnum";
  -moz-font-feature-settings: "tnum";
  -ms-font-feature-settings: "tnum";
  font-feature-settings: "tnum";
  backface-visibility: hidden;
  stroke-width: 0;
}

.text-container {
  margin: auto;
  font-size: 6vw;
  color: darksalmon;
  text-shadow: 0px 2px 3px darkred;
}

hr.custom-style  {
  height: 10px;
  border: 1;
  border-color: black;
  box-shadow: inset 0 9px 9px -3px crimson;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  }

.clock-container .f1 {
  fill: #181F22;
}
.clock-container .f2 {
  fill: #F3F6F7;
}
.clock-container.svg-clock-frog {
  background: transparent;
}
.clock-container.svg-clock-frog .f1 {
  fill: #0EF998;
}
.clock-container.svg-clock-frog .s1 {
  stroke: #0EF998;
}
.clock-container.svg-clock-frog .f2 {
  fill: #181F22;
}
.clock-container.svg-clock-frog .s2 {
  stroke: #181F22;
}
.clock-container.svg-clock-sol {
  background: transparent;
}
.clock-container.svg-clock-sol .f1 {
  fill: #F90E5A;
}
.clock-container.svg-clock-sol .s1 {
  stroke: #F90E5A;
}
.clock-container.svg-clock-sol .f2 {
  fill: #181F22;
}
.clock-container.svg-clock-sol .s2 {
  stroke: #181F22;
}
.clock-container.svg-clock-wasp {
  background: transparent;
}
.clock-container.svg-clock-wasp .f1 {
  fill: #FFF532;
}
.clock-container.svg-clock-wasp .s1 {
  stroke: #FFF532;
}
.clock-container.svg-clock-wasp .f2 {
  fill: #181F22;
}
.clock-container.svg-clock-wasp .s2 {
  stroke: #181F22;
}
.clock-container.svg-clock-terra {
  background: transparent;
}
.clock-container.svg-clock-terra .f1 {
  fill: #ECF1CC;
}
.clock-container.svg-clock-terra .s1 {
  stroke: #ECF1CC;
}
.clock-container.svg-clock-terra .f2 {
  fill: #E76054;
}
.clock-container.svg-clock-terra .s2 {
  stroke: #E76054;
}